body{
    background-color: black;
}
.contenedor{
    margin:0 auto;
    width: fit-content;
    height: auto;
    /* border: 1px solid blue; */
}
.fila{
    display: flex;
}
.white{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: whitesmoke;
}
.black{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: gray;
    background-size: contain;
}
.black_peon{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/peon.png);
    background-color: gray;
    background-size: contain;
}
.black_tower{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/tower.png);
    background-color: gray;
    background-size: contain;
}
.black_horse{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/horse.png);
    background-color: gray;
    background-size: contain;
}
.black_bishop{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/bishop.png);
    background-color: gray;
    background-size: contain;
}
.black_king{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/rey.png);
    background-color: gray;
    background-size: contain;
}
.black_queen{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/queen.png);
    background-color: gray;
    background-size: contain;
}


.white_peon{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/peon.png);
    background-color: white;
    background-size: contain;
}
.white_tower{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/tower.png);
    background-color: white;
    background-size: contain;
}
.white_bishop{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/bishop.png);
    background-color: white;
    background-size: contain;
}
.white_king{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/rey.png);
    background-color: white;
    background-size: contain;
}
.white_queen{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/queen.png);
    background-color: white;
    background-size: contain;
}
.white_horse{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-image: url(../img/horse.png);
    background-color: white;
    background-size: contain;
}


img{
    width: 50px;
    height: 50px;
}

.font_tower{
    color: white;
    font-size: 2.5em;
}