body{
    background: green;
}
.contenedor{
    margin: auto;
    width: 500px;
    height: 90px;
    margin-top: 10px;
    /* border: 1px solid blue; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.__imagen{
    width: 400px;
    height: 20px;
    border: 1px solid black;
    margin-top: 10px;
}